<!-- books/templates/books/register.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
    <form method=POST action="">
        {% csrf_token %}
        <span>{{ register_form.username.label }}</span>
        <p>{{ register_form.username }}</p>
        <span>{{ register_form.password1.label }}</span>
        <p>{{ register_form.password1 }}</p>
        <span>{{ register_form.password2.label }}</span>
        <p>{{ register_form.password2 }}</p>

        {% for error in register_form.errors %}
            <p>{{error}}</p>
        {% endfor %}

        <button type="submit">Create Account</button>
    </form>
</body>
</html>