<!-- books/templates/books/write_review.html -->
{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write Review</title>
</head>
<body>
    <form method=POST action="{% url 'books:process_write_review' book.id %}">
        {% csrf_token %}
        <label for="rating">Rate the book:</label>
        <input type="range" min="1" max="5" step="1" name="rating" required>
        <br>
        <label for="review">Write a review:</label>
        <input type="text" name="review">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>